.cta{
    padding:1rem 1.5rem;
    color:#fff;
    background:$accent_color;
    font-weight: bold;
    border-radius: .3rem;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    max-width: 30rem;
}
.cta-no-bg{
    padding:1rem 1.5rem;
    color:black;
    text-decoration: none;
    font-weight: bold;
}
.white-cta{
    padding:1rem 1.5rem;
    background:#fff;
    color:$accent_color;
    font-weight: bold;
    border-radius: .3rem;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    border: 1px solid rgb(194, 194, 194);
}
.underline{
    font-weight: bold;
    text-align: center;
    color:$accent_color
}